section.page-title {
    height: 112px;
    background-image: url('/public/assets/images/page-title-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;

    padding: 1.5rem 0;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    position: relative;
    color: $white;
    z-index: 1;
}
