.card-header {
    background-color: $white;
    font-weight: 500;
}

.card-footer {
    border: none;
    padding-bottom: 1rem;
    background-color: $white;
}

.card-header, .card-footer {
    padding: 12px 24px !important;
}
