.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 !important;

    &:hover {
        background-color: rgb(242.25, 242.25, 242.25);
        color: $black;
    }

    &.active {
        background-color: rgb(242.25, 242.25, 242.25);
        border-left: 2px solid $black;

        @media screen and (min-width: map-get($container-max-widths, 'lg')) {
            border-left: 0;
            border-bottom: 2px solid $black;
        }
    }
}

#app {
    .sidebar-nav {
        .nav-link {
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 0 !important;
            color: $white;

            &:hover {
                background-color: rgb(255, 255, 255, .2);
                font-weight: 500;
            }

            &.active {
                background-color: rgb(255, 255, 255, .2);
                border-left: 2px solid $white;

                @media screen and (min-width: map-get($container-max-widths, 'lg')) {
                    border-bottom: 0;
                }
            }
        }

        .nav-title {
            font-size: 14px;
            text-transform: none;
            color: white;
        }
    }
}
