#default {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 92px;

    .offcanvas-body {
        @media screen and (max-width: map-get($container-max-widths, 'sm')) {
            padding: 32px 0;
        }
    }

    @media screen and (max-width: map-get($container-max-widths, 'sm')) {
        padding-top: 60px;
    }

    #login-nav {
        @media screen and (max-width: map-get($container-max-widths, 'sm')) {
            border-top: var(--cui-border-width) var(--cui-border-style) var(--cui-border-color) !important;
        }
    }

    footer {
        margin-top: 64px;
        padding-top: 64px;
        padding-bottom: 16px;
    }
}
